.noProductInCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.icon {
  font-size: 11rem;
  height: 11.3rem;
  width: 11.3rem;
  position: relative;
}

.icon svg {
  height: min-content;
  vertical-align: middle;
  stroke-width: 0.2px;
  color: rgb(236, 236, 236);
  position: absolute;
  top: 0;
}

.noProductInCart .title {
  font-size: 3.3rem;
  font-weight: 650;
}

.noProductInCart .info {
  text-align: center;
}
