.img-thumbnail {
  width: 100px;
}

.imageSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageSection > :first-child {
  width: 300px;
  height: 300px;
}

.imageSection > :last-child {
  width: 300px;
}

.subImg {
  cursor: pointer;
}

.reviewSection {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.reviewSection > :last-child {
  margin: 5px 0 0 3px;
}

.wishlistQuantityCartRow {
  height: 50px;
  width: 80%;
}

.wishlistQuantityCartRow > :first-child {
  width: 15%;
}

.quantitySection {
  height: 100%;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.14);
  padding: 10px 15px;
  border-radius: 0.5rem;
}

.quantitySection :nth-child(2n + 1){
  font-size: 22px;
  color: #888;
  font-weight: 550;
  cursor: pointer;
}

.quantitySection :nth-child(2n + 1):hover {
  color: var(--productRootColor)
}

.addToCartBtn,
.addToCartBtn:hover,
.addToCartBtn:focus,
.addToCartBtn:active {
  background-color: var(--productRootColor);
  color: white;
  border: 0;
}

.nameDate {
  width: 100%;
  position: relative;
}

.date {
  margin-left: auto;
  position: absolute;
  right: 0;
  font-size: 12px;
}
