:root {
  --productRootColor: #ff3d71;
}

* {
  font-family: "Poppins";
}

.container {
  margin-top: 100px;
  min-height: calc(100vh - 116px);
  display: flex;
  flex-direction: column;
}

.shop {
  width: 100%;
  height: auto;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 8px;
}

.shopHeading {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100%;
}
